@font-face {
  font-family: SF reg;

  src: url("../Components/assests/Fonts/SF-Compact-Display-Regular.otf");
}
@font-face {
  font-family: SF bold;
  src: url("../Components/assests/Fonts/SF-Compact-Display-Bold.otf");
}
@font-face {
  font-family: SF light;
  src: url("../Components/assests/Fonts/SF-Compact-Display-Light.otf");
}
@font-face {
  font-family: SF med;
  src: url("../Components/assests/Fonts/SF-Compact-Display-Medium.otf");
}
.carousel-caption {
  bottom: 0;
  margin-bottom: 4rem;
  /* margin-left: calc(-5rem + 10vw) !important; */
  /* padding-right: calc(8rem + 7vw) !important; */
}
.titleCarousel {
  color: #fff !important;
  font-size: calc(1.375rem + 1.5vw) !important;
  /* margin-bottom: calc(0.5rem + 0.5vw) !important; */
}
.textCarousel {
  color: #fff !important;
  font-family: SF light;
}
.carouselBtn {
  color: #fff;
  border-color: #fff;
  font-family: SF light;
}
.carouselBtn:hover {
  background-color: #fff;
  color: #1e4274;
  border-color: #fff;
}
.carouselBtn:active {
  background-color: #f8f8f8;
  border: none;
}
.carousel-indicators button {
  background-color: #fff !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 100% !important;
  /* border: 2px solid #cd8930 !important; */
}
.carousel-indicators button.active {
  background-color: #cd8930 !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 100% !important;
}
@media (max-width: 600px) {
  .carousel-indicators button {
    width: 15px !important;
    height: 15px !important;
  }
}
@media (max-width: 600px) {
  .carousel-indicators button.active {
    width: 15px !important;
    height: 15px !important;
  }
}
.img1 {
  background-image: url("../Components/Landing/bg1.png") !important;
  height: 34rem;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.img2 {
  background-image: url("../Components/Landing/bg12.png") !important;
  height: 34rem;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.img3 {
  background-image: url("../Components/Landing/bg13.png") !important;
  height: 34rem;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
/* logo carousel */
.carousel-cell {
  width: 90px !important;
  height: 50px !important;
  margin-right: 10px;
  border-radius: 5px;
}

.carousel-cell.size-180 {
  width: 180px;
}
.carousel-cell.size-large {
  width: 75%;
}

.logo1 {
  background-image: url("../Components/Landing/logo1.png") !important;
  width: 90px !important;
  height: 50px !important;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 0 !important;
  display: flex !important;
  align-items: flex-start !important;
  margin-right: 44px;
}
.LogoCarousel {
  margin-bottom: 4rem;
  margin-top: 2rem;
}
.flickity-page-dots {
  /* bottom: 0px; */
}
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid #cd8930;
}
.flickity-page-dots .dot.is-selected {
  background: #cd8930;
}
/* .carousel-indicators button {
  background-color: #fff !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 100% !important;
}
.carousel-indicators button.active {
  background-color: #cd8930 !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 100% !important;
}
@media (max-width: 600px) {
  .carousel-indicators button {
    width: 15px !important;
    height: 15px !important;
  }
}
@media (max-width: 600px) {
  .carousel-indicators button.active {
    width: 15px !important;
    height: 15px !important;
  }
} */
