/* ...........Basma........... */
.editTitle {
  font-size: 35px !important;
  font-family: SF med !important;
}
.categoryTitle {
  font-size: 25px !important;
  font-family: SF bold !important;
  color: #cd8930;
  width: 1.5em !important;
  padding-bottom: 4px !important;
  border-bottom: 3px solid rgba(205, 137, 48, 1);
}
.infoTabsUl {
  border: none !important;
  margin-left: -1.5em !important;
}

.tabBtn {
  color: #1e4274 !important;

  /* padding: 0 !important;
  margin: 1em !important; */
  margin-bottom: 1em !important;
  border: none !important;
}
.tabBtn:hover {
  color: #1e4274 !important;
  border: none !important;
}
.tabBtn:after {
  display: block;
  content: "";
  /* transform: scaleX(1); */
  transform: scale(1, 1);
  border: none !important;
  transition: transform 300ms ease-in-out;
}
.tabBtn:hover:after {
  /* transform: scaleX(0); */
  transform: scale(0.5, 1);
  border-bottom: 2px solid #1e4274 !important;
}
.tabBtn.active {
  color: #cd8930 !important;
  border: none !important;
}
.tabBtn.active:after {
  display: block;
  content: "";
  /* transform: scaleX(1); */
  transform: scale(1, 1);
  border: none !important;
  transition: transform 300ms ease-in-out;
  border-bottom: 2px solid #cd8930 !important;
}

@media (max-width: 768px) {
  .editTitle {
    font-size: 25px !important;
  }
  .categoryTitle {
    font-size: 15px !important;
  }
  .infoTabsUl {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    /* overflow: auto; */
    white-space: nowrap;
  }
  .infoTabsUl::-webkit-scrollbar {
    /* width: 2px !important; */
    height: 2px !important;
  }
  .infoTabs {
    margin-bottom: -1rem !important;
    display: inline-block;
    white-space: nowrap;
  }
  .tabBtn:hover {
    color: #cd8930 !important;
  }
  .tabBtn:hover:after {
    color: #cd8930 !important;
    border-bottom: none !important;
  }
  .tabBtn.active:after {
    border-bottom: none !important;
  }
}
/* General Form */
.editInput {
  background-color: #fafafa;
  border: none !important;
  box-shadow: none;
}
.editInput:focus {
  border: 1px solid #e0e0e0 !important;
  outline: 0 !important;
  box-shadow: none !important;
  outline: 0 !important;
}

.editInput[type="date"]::-webkit-calendar-picker-indicator {
  background: url("https://api.iconify.design/uil:calender.svg?color=%231e4274")
    no-repeat center center / contain;
}
.editInput[type="month"]::-webkit-calendar-picker-indicator {
  background: url("https://api.iconify.design/uil:calender.svg?color=%231e4274")
    no-repeat center center / contain;
}
.editLabel {
  font-size: 1.1rem !important;
  font-family: SF light !important;
}

.hrSkills {
  /* width: 953px; */
  color: #e0e0e0;
  margin-bottom: 0 !important;
}
.editInput[type="number"]::-webkit-outer-spin-button,
.editInput[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.editInput[type="number"] {
  -moz-appearance: textfield;
}
.editInput[type="radio"] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 15%;
  outline: none;
  padding-right: 5px;
  border-bottom: none !important;
}

.editInput[type="radio"]:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  padding-right: 5px;
  border-radius: 15%;
  border: 2px solid #1e4274;
}

.editInput[type="radio"]:checked:before {
  background: #1e4274;
  background-image: url(../Components/assests/imgs/done2.svg);
  background-color: #1e4274;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #1e4274;
}

.raioLabelEdit {
  margin-left: 10px !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}
::placeholder {
  color: rgba(30, 66, 116, 0.7) !important;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(30, 66, 116, 0.7) !important;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(30, 66, 116, 0.7) !important;
}
input,
select,
textarea {
  color: rgba(30, 66, 116, 1) !important;
}

.cancelBtn {
  width: 141px;
  height: 41px;
  border: 1px solid #1e4274 !important;
  background-color: transparent !important;
  color: #1e4274;
}
.cancelBtn:hover {
  border: 1px solid #1e4274 !important;
  background-color: #1e4274 !important;
  color: #fff;
}
.doneBtn,
.updateBtn {
  width: 141px;
  height: 41px;
  border: 1px slid #1e4274 !important;
  background-color: #1e4274 !important;
  color: #fff;
}
.doneBtn:hover,
.updateBtn:hover {
  border: 1px solid #1e4274 !important;
  background-color: transparent !important;
  color: #1e4274;
}
.deleteBtn {
  width: 141px;
  height: 41px;
  border: 1px solid #f44336 !important;
  background-color: transparent !important;
  color: #f44336;
}
.deleteBtn:hover {
  width: 141px;
  height: 41px;
  border: 1px solid #f44336 !important;
  background-color: #f44336 !important;
  color: #fff;
}
.imageUploader {
  width: 10em;
  height: 200px;
  border-radius: 50px;
}
.profieImg {
  width: 160px;
  height: 140px;
  object-fit: cover !important;
}
ReactStars:active {
  border: none !important;
}
.editerror {
  color: #f44336;
  font-size: 14px;
  text-transform: capitalize;
  word-break: break-all;
}
.UploadBtnDiv {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.UploadBtnDiv input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.UploadBtn {
  border: 2px solid #1e4274;
  color: #1e4274;
  background-color: white;
  padding: 0.4em 2.5em;
  border-radius: 6px;
}
/* interest footer */
/* .interestFooter {
  height: 100px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.wrapper {
  padding-bottom: 100px;
  min-height: 100%;
  position: relative;
}
@media (min-width: 1198px) and (max-width: 1500px) {
  .wrapper {
    padding-bottom: 122px;
    min-height: 100%;
    position: relative;
  }
  .interestFooter {
    height: 100px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }
} */
@media (min-width: 750px) and (max-width: 1200px) {
  .accLable {
    margin-right: 8%;
  }
}
/* @media (min-width: 500px) and (max-width: 700px) {
  .wrapper {
  padding-bottom: 4rem!important; 
    min-height: 100%;
    position:relative;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .wrapperLang {
    padding-bottom: 4rem!important; 
    min-height: 100%;
    position:relative;
  }
} */

/* ...........Mohannad........... */
/* .global-class-name {
  margin-top: 100px;
} */

.fromLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex; /* establish flex container */
  flex-direction: column; /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;
}
.red {
  color: red;
  font-size: 14px;
  white-space: pre-line;

  margin-top: 1em !important;
}
.ico {
  border-bottom: 1px solid #1e4274 !important;
}
.signInput:focus + .ico {
  /* border: none !important;
  margin-top: 10px; */
  border-bottom: 1px solid #cd8930 !important;
}
.checkBoxExpert {
  content: "";
  display: inline;
  width: 15px;
  height: 15px;
  padding-right: 5px;
  border-radius: 15%;
  border: 2px solid #1e4274;
  margin-right: 6px;
}

.halfInput {
  width: 65%;
  padding-bottom: 15px;
}

@media (max-width: 768px) {
  .fullwidth {
    width: 100% !important;
  }
}
.uploadBtnn {
  margin-top: 2em !important;
  background-color: #fafafa !important;
}

/* ...........Fathy........... */
.uploadBtn {
  margin-top: 2.15em !important;

  background-color: #fafafa !important;
  content: "upload" !important;
  color: #1e4274 !important;
}
.uploadIcon {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  /* margin-left: auto !important; */
}

@media (max-width: 768px) {
  .uploadBtn {
    margin-top: 1rem !important;
  }
}

.closeLabel {
  margin-right: -60px !important;
}
.savedInternshipIcon {
  color: blue !important;
  fill: #1e4274 !important;
}

@media (min-width: 1202px) {
  .mrcss {
    margin-right: 0 !important;
  }
}
@media (min-width: 1202px) {
  .rowHeight {
    height: 25px !important;
  }
}
@media (max-width: 420px) {
  .rowHeight {
    height: 6em;
  }
}
.cardMt {
  margin-top: 1em !important;
}
@media (max-width: 422px) {
  .cardMt {
    margin-top: 2em;
  }
}

@media (min-width: 757px) and (max-width: 1021px) {
  .textWidth {
    width: 30% !important;
  }
}
.titleTimeMle {
  margin-top: 0.9em !important;
}
@media (min-width: 1202px) {
  .rowHeight2 {
    height: 25px !important;
  }
}
@media (max-width: 420px) {
  .rowHeight2 {
    height: 8em !important;
  }
}
@media (min-width: 1202px) {
  .rowHeight3 {
    height: 25px !important;
  }
}
@media (max-width: 420px) {
  .rowHeight3 {
    height: 10em !important;
  }
}

@media screen and (min-width: 1400px) {
  #btnmargin {
    margin-left: 5.3rem !important;
  }
}
@media screen and (min-width: 1400px) {
  #muteMargin {
    margin-left: 3.6rem !important;
  }
}
@media screen and (min-width: 1400px) {
  #btnmargin2 {
    margin-left: 11.9rem !important;
  }
}
@media (max-width: 576px) {
  #mygoldtab {
    margin-left: -0.3rem !important;
    color: #cd8930 !important;
    font-family: sf light;
  }
}
#mygoldtab {
  color: #cd8930 !important;
  font-family: sf light;
  margin-left: 6em;
}
