.logo {
  margin-left: 4.5rem;
}
.content {
  margin: 10vh 5vw;
}
.title {
  font-size: 7rem;
  color: #1e4274;
}
.Warning {
  font-size: 7rem;
}
.Warning path {
  color: #cd8930 !important;
}

.text {
  color: #1e4274;
  font-size: 1.2rem;
  min-width: 220px;
}
.link {
  color: #cd8930;
}
.errolCol {
  display: flex;
  flex-direction: column;
}
