.stext {
  font-size: 14px;
}
#custom-search-input {
  padding: 3px;
  border: solid 1px #e4e4e4;
  border-radius: 18px;
  background-color: #fff;
}

#custom-search-input input {
  border: 0;
  box-shadow: none;
}

#custom-search-input button {
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  border-radius: 0;

  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
  font-size: 23px;
}
/* Search */

.halfborder {
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  border-radius: 0;

  color: #666666;
  padding: 0 8px 0 10px;
}
#goldtab2 {
  color: #cd8930 !important;
  font-family: sf light;
}
.primarycolor1 {
  background-color: #cd8930;
  width: 2rem !important;
  /* padding-bottom: 2px; */
  height: 0.1rem;
}
.s {
  width: 61%;
  height: 15px;
  display: inline-flex;
}
.ww {
  height: 35px;
}
.smallres {
  display: inline-flex;
}
@media (max-width: 770px) {
  .s {
    width: 50%;
    display: contents !important;
  }
  .smallres {
    width: 50%;
    display: contents !important;
  }
}
.gray {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;

  color: #cccccc !important;
}
.nomargin {
  margin: 0 !important;
}
.goldenn {
  color: #cd8930 !important;
  font-family: sf light;
}
#tagsipad {
  text-align: center;
  justify-items: center;
  border-radius: 20px !important;
  color: #1e4274 !important;
  background-color: #f2f2f2 !important;
  /* height: 110%;
  width: 110%; */
  font-size: 14px;
  display: inline-table;
  overflow: hidden; /* overflow: hidden; */
}
