@font-face {
  font-family: SF reg;

  src: url("../Components/assests/Fonts/SF-Compact-Display-Regular.otf");
}
@font-face {
  font-family: SF bold;
  src: url("../Components/assests/Fonts/SF-Compact-Display-Bold.otf");
}
@font-face {
  font-family: SF light;
  src: url("../Components/assests/Fonts/SF-Compact-Display-Light.otf");
}
@font-face {
  font-family: SF med;
  src: url("../Components/assests/Fonts/SF-Compact-Display-Medium.otf");
}
.container-fluid {
  padding: 0;
}
#tags {
  text-align: center;
  justify-items: center;
  border-radius: 20px !important;
  color: #1e4274 !important;
  height: 1.6em;
  width: 5em;
  background-color: #f2f2f2 !important;
}
#gold {
  color: #cd8930 !important;
  font-family: sf light;
}
#goldtab {
  color: #cd8930 !important;
  font-family: sf light;
  margin-left: 6em;
}
* {
  color: #1e4274;
  font-family: sf reg;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
#bold {
  font-family: sf bold;
}

.indexedStep {
  color: transparent;
  width: 20px;
  height: 20px;
  background-color: #cd8930;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.RSPBprogressBar {
  background-color: rgba(205, 137, 48, 0.5) !important;
}
.indexedStep.accomplished {
  background-color: #cd8930;
}
.RSPBprogression {
  background-color: #cd8930 !important;
}

.indexedStep {
  background-color: white;
  border: solid 2px rgba(205, 137, 48, 0.5) !important;
}
.breakliner {
  color: #e0e0e0;
}
#job {
  margin-top: -0.7em !important;
}
@media screen and (min-width: 1400px) {
  .btnmovement {
    margin-left: 4.1em !important;
  }
}
@media screen and (max-width: 766px) {
  #big {
    display: none !important;
  }
  #small {
    display: flex !important;
    flex-direction: column !important;
    width: 90%;
    justify-content: center !important;
    justify-self: center !important;
    justify-items: center !important;
    align-self: center !important;
    align-content: center !important;
    text-align: center !important;
  }
  #deadline {
    margin-top: 1em;
  }
  #drop {
    margin-top: 0.5em !important;
  }
  #promoted {
    margin-left: 0em !important;
    margin-top: -0.5em !important;
  }
  .containerrr {
    position: relative;
    width: 50%;
  }

  .overlay {
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(30, 66, 116, 0.5);

    width: 100%;
    height: 100%;
  }

  .texttt {
    color: white;
    font-size: 20px;

    top: 50%;
    left: 50%;

    text-align: center;
  }
  #alerting {
    padding-left: 0em !important;
    margin-left: 0em !important;
  }

  #goldtab {
    margin-left: 0em !important;
  }
}

#imgicon {
  width: 3.3em !important;
}
#widths {
  width: 20.9375em !important;
  margin: 1em 2em !important;
}
.applyBtn {
  background-color: transparent !important;
  color: #1e4274;
  font-family: SF light;
  border: 1px solid #1e4274;
  border-radius: 5px !important;
  height: 30px;
}
.applyBtn:hover {
  background-color: #1e4274 !important;
  color: #fff;
}

#exploreall {
  /* border-bottom: 1px solid rgba(205, 137, 48, 1); */
  width: 4.6em !important;
  text-decoration: none !important;
  color: #1e4274;
}
#exploreall:after {
  display: block;
  content: "";
  transform: scaleX(0.5);
  border-bottom: 2px solid rgba(205, 137, 48, 1);
  transition: transform 250ms ease-in-out;
}
#exploreall:hover:after {
  transform: scaleX(1);
}

.containerrr {
  position: relative;
  width: 50%;
}

#imagehover {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(30, 66, 116, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  border-radius: 10px;
}

.containerrr:hover .overlay {
  height: 100%;
}

.texttt {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#linksss:link {
  text-decoration: none !important;
  color: #ffffff !important;
}
#linksss:visited {
  text-decoration: none !important;
  color: #ffffff !important;
}
#linksss:active {
  text-decoration: none !important;
  color: #ffffff !important;
}
#linksss:hover {
  text-decoration: none !important;
  color: #ffffff !important;
}
#alerting {
  background-color: #fee0e0;
}

#redlink {
  text-decoration: none;
  color: red !important;
}
#redlink:link {
  text-decoration: none !important;
  color: red !important;
}
#redlink:visited {
  text-decoration: none !important;
  color: red !important;
}
#redlink:active {
  text-decoration: none !important;
  color: red !important;
}
#redlink:hover {
  text-decoration: none !important;
  color: red !important;
}
#closed {
  color: red;
  font-size: 1.2em !important;
  border: none !important;
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}
@media (min-width: 576px) and (max-width: 1199px) {
  #tabcard {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  #goldtab {
    margin-left: 0em !important;
  }
  #tabcontainer {
    width: 100% !important ;
  }
}
.generalinfolink {
  text-decoration: none !important;
  color: #1e4274 !important;
}
.generalinfolink:visited {
  text-decoration: none !important;
  color: #1e4274 !important;
}
.generalinfolink:active {
  text-decoration: none !important;
  color: #1e4274 !important;
}
.generalinfolink:hover {
  text-decoration: none !important;
  color: #1e4274 !important;
}
/* @media screen and (max-width: 775) {
  #firsttagipad {
    margin-right: 55em !important;
  }
  #tags {
    margin-right: 55em !important;
  }
} */
