@font-face {
  font-family: SF reg;

  src: url("../Components/assests/Fonts/SF-Compact-Display-Regular.otf");
}
@font-face {
  font-family: SF bold;
  src: url("../Components/assests/Fonts/SF-Compact-Display-Bold.otf");
}
@font-face {
  font-family: SF light;
  src: url("../Components/assests/Fonts/SF-Compact-Display-Light.otf");
}
@font-face {
  font-family: SF med;
  src: url("../Components/assests/Fonts/SF-Compact-Display-Medium.otf");
}
.container-fluid {
  padding: 0;
}
#Experienceimg {
  width: 40% !important;
}
#Title {
  font-family: SF med;
  color: #1e4274 !important;
}

#DescProv {
  margin-top: 1em;
  font-family: SF light !important;
  color: #1e4274 !important;
}

.Numbers {
  font-family: SF bold;
  font-size: 2em !important;
  color: #cd8930 !important;
  margin: 0;
}
.NumTitle {
  font-family: SF reg;
  font-size: 1.5em !important;
  color: #cd8930 !important;
}
#Num {
  line-height: 45px;
}
#Career {
  margin-top: 2em;
  font-family: SF med;
  color: #1e4274 !important;
}

.textt {
  margin-top: 0.3em;
  font-family: SF light;
  color: #1e4274 !important;
}
#checklist {
  margin-left: 0;
  color: #cd8930;
}

span {
  color: #1e4274;
}
#apps {
  font-family: SF med;
  color: #1e4274 !important;
  font-size: 1.3em !important;
}

#opportunities {
  font-family: SF med;
  color: #cd8930 !important;
  font-size: 1.3em !important;
  margin-top: 3em !important;
}
#cardss {
  border: none !important;
}
#bd {
  border-color: transparent !important;
  border: none !important;
  border-width: 0 !important;
}
.contactBtn {
  background-color: transparent;
  color: #cd8930;
  font-family: SF light;
  border: 1px solid #cd8930;
  border-radius: 5px;

  /* width: 152px; */
}
.contactBtnW {
  margin-left: 5.5rem;
}
@media (max-width: 800px) {
  .contactBtn {
    margin-left: 1rem !important;
  }
}
@media (max-width: 500px) {
  .carouselRow {
    margin-left: -1rem !important;
  }
}
