/** @format */

.login {
  min-height: 100%;
  width: 80%;
  overflow-y: hidden;
}
.shadow {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logine {
  width: 100%;
}
.no-scroll {
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: url(../Components/assests/imgs/login.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 100%;
  right: 0;
  float: right;
}
.bg-image {
  /* background-image: url(../Components/assests/imgs/login.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 588px;
  height: 730px;
  left: 852px;
  top: 79px;

  border-radius: 15px;
}
/* @media screen and (max-width: 1024px) {
  .bg-image {
    display: none !important;
  }
}  */

.small {
  float: left;
}
.color-blue {
  background-color: #1e4274;
}
.mb-2 {
  float: right;
  text-align: center !important;
  width: auto;
  box-sizing: border-box;
  /* margin-top: 100%; */
  margin-top: 15%;
  font-size: 1rem !important;
}
.color-orange {
  color: #cd8930;
}
.form-label-group {
  padding-bottom: 5%;
}
input {
  border: 0 !important;
  outline: 0 !important;
  background: transparent;
  border-bottom: 1px solid #1e4274 !important;
}

input:focus {
  border: 0 !important;
  outline: 0 !important;
  background: transparent;
  border-bottom: 2px solid #cd8930 !important;
}
.error {
  color: #f44336;
  font-size: 14px;
}
.error-input {
  color: #f44336;
  font-size: 14px;
  border-bottom: 1px solid #f44336 !important;
}

.login-heading {
  font-weight: 500;
  font-size: 40px;

  color: #1e4274;
  margin-bottom: 85px;
}
.invalid-feedback {
  display: block !important;
}

.input-field {
  position: relative;
}
.label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #1e4274;
  transition: 0.2s all;
  cursor: text;
}
input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 4px solid #1e4274;
  box-shadow: none;
  color: #111;
  margin-bottom: 50px;
}

input:focus,
input:valid {
  border-color: #cd8930;
}
input:focus ~ label,
input:valid ~ label {
  font-size: 14px;
  top: -24px;
  color: #cd8930;
}
@media (max-width: 768px) {
  .bg-image {
    display: none;
  }
}
