/** @format */

body,
html {
  height: 100%;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
}

#root {
  background-image: url("../Components/assests/imgs/Min_BG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-size: contain; */
  /* width: 100%; */
  padding-bottom: 12.5%;
}
.container {
  display: flex;
}
.img {
  margin: auto !important;
  padding: 2rem;
  clear: both;
  display: flex;
}
.m1 {
  font-weight: 600;
  font-size: 4em;
  color: #007bff;
}
.m4 {
  font-weight: 300;
  font-size: 1.5em;
  color: #007bff;
}
.btn-primary {
  margin-right: 10%;
  margin-left: 92%;
}
.mt {
  margin: auto;
  display: flex;
}
.p3 {
  padding: 0.5em 2rem;
  border: 2px solid #007bff !important;
}
.col-12 {
  padding: 0.9rem;
}
.stext {
  /* PARAGRAPH 2 */
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  /* or 135% */
  text-align: center;

  /* Primary */
  color: #1e4274;
}
