body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.navBg {
  background-color: #fff !important;
}
.navbar-toggler {
  background-color: #fff !important;
  border: 1px solid #1e4274 !important;
}
.navbar-toggler-icon {
  background: url("https://api.iconify.design/bytesize:menu.svg?color=%231e4274")
    no-repeat center center / contain;
}

.navbar-toggler:active {
  background-color: #fff !important;
  border: 1px solid #1e4274 !important;
}
@media (max-width: 768px) {
  .navbar-toggler {
    margin-right: 0.4rem;
  }
}

.signIn {
  background-color: #cd8930;
  color: #fff;
  width: 150px;
}
.signIn:hover {
  background-color: #fff !important;
  color: #cd8930 !important;
  border: 1px solid #cd8930 !important;
}
.signUp:hover {
  background-color: #1e4274;
  color: #fff !important;
  border: none;
}
.signUp {
  color: #1e4274 !important;
  border: 1px solid #1e4274 !important;
  width: 150px;
}
.nav-item {
  padding-bottom: 0.5em;
}
.flex-container {
  display: flexbox;
  justify-content: flex-end;
}
.btn-login {
  background-color: #cd8930;
  color: #fff;
  padding: 0.5em 2em;
}
.submitBtn:hover {
  background-color: #1e4274;
  color: #fff !important;
  border: none;
}
.btn-outline-primary {
  padding: 0.5em 1.5em;
}
.nav-item {
  margin-left: 10px;
}

.item {
  font-family: SF Compact Display;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  text-align: center;
  line-height: 28px;
  color: #1e4274 !important;
}
.noti {
  font-size: 29px;
}

.dropstart .dropdown-toggle::before {
  display: inline-block;
  margin-right: 0.255em;
  vertical-align: 0.255em;
  border: 0 !important;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.5rem;
  clear: both;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  overflow: hidden; /* Hide scrollbars */

  display: none;
  min-width: 21em;

  padding: 0.5em 1em;
  margin: 0;
  font-size: 1em;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.Nottext {
  font-family: SF Compact Display;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;

  color: #1e4274;
}

.notice {
  padding: 5px;
  background-color: #fafafa;
  border-left: 5px solid #7f7f84;
  padding-left: 4%;
  font-family: SF Compact Display;
  font-style: normal;
  font-weight: 400;
  font-family: SF Compact Display;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  -webkit-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
}
.notice-sm {
  padding: 10px;
  font-size: 80%;
}
.notice-lg {
  padding: 35px;
  font-size: large;
}
.notice-success {
  border-color: #80d651;
}
.notice-success > strong {
  color: #80d651;
}
.notice-info {
  border-color: #45abcd;
}
.notice-info > strong {
  color: #45abcd;
}
.notice-warning {
  border-color: #feaf20;
}
.notice-warning > strong {
  color: #feaf20;
}
.notice-danger {
  border-color: #d73814;
}
.notice-danger > strong {
  color: #d73814;
}
.small-text {
  font-family: SF Compact Display;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
.NotIcon {
  margin-bottom: -18%;
  margin-left: 2%;
}
.nottext {
  font-family: SF Compact Display;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
  letter-spacing: 0em;
  text-align: left;
  color: #1e4274;
  margin-left: 6%;
  margin-top: 0%;
}
.nottap {
  font-family: SF Compact Display;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  margin-left: 6%;
  color: #b1b0b0;
}
@media only screen and (max-width: 895px) {
  .NotIcon {
    margin-bottom: -50%;
    margin-left: 2%;
    width: 8%;
    height: 50%;
  }
  .dropstart .dropdown-menu {
    top: 100%;
    left: -150%;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    overflow: hidden; /* Hide scrollbars */

    display: none;
    min-width: 21em;
    word-wrap: break-word;
    padding: 0.5em 1em;
    margin: 0;
    font-size: 1em;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }
  .nottext {
    font-family: SF Compact Display;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #1e4274;
  }
  .nottap {
    font-family: SF Compact Display;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    margin-left: 6%;
    color: #b1b0b0;
  }
  .notice {
    /* padding: 5px;
    background-color: #fafafa;
    border-left: 3px solid ;
    padding-left: 4%;
    font-family: SF Compact Display;
    font-style: normal;
    font-weight: 400;
    font-family: SF Compact Display;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    box-shadow: 0 5px 8px -6px rgb(0 0 0 / 20%); */
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    overflow: hidden;
    display: none;
    min-width: 17em;
    /* word-wrap: break-word; */
    /* padding: 0.5em 1em; */
    /* margin: 0; */
    /* font-size: 1em; */
    /* color: #212529; */
    /* text-align: left; */
    /* list-style: none; */
    /* background-color: #fff; */
    /* border: 2px solid rgba(0, 0, 0, 0.15); */
    /* border-radius: 0.25rem; */
  }
}
