@font-face {
  font-family: SF reg;

  src: url("../Components/assests/Fonts/SF-Compact-Display-Regular.otf");
}
@font-face {
  font-family: SF bold;
  src: url("../Components/assests/Fonts/SF-Compact-Display-Bold.otf");
}
@font-face {
  font-family: SF light;
  src: url("../Components/assests/Fonts/SF-Compact-Display-Light.otf");
}
@font-face {
  font-family: SF med;
  src: url("../Components/assests/Fonts/SF-Compact-Display-Medium.otf");
}
.profileMT {
  margin-top: 7em;
}
.companyName {
  font-family: SF med;
}
.companyImg {
  width: 6em;
  height: 6em;
  object-fit: contain !important;
}
.advisorImg {
  width: 6em;
  height: 6em;
  object-fit: cover !important;
}
.companyTitel {
  font-family: SF med;
}
.companyInfoTxt {
  color: #cd8930;
}
.companyInfoTxt2 {
  color: #1e4274;
}
@media (max-width: 1410px) {
  .companyInfoTxt {
    display: flex !important;
    width: 20em !important;
  }
}

@media (max-width: 1410px) {
  .companyInfoTxt {
    display: flex;
    width: 17em;
  }
}
.overvireTitle {
  font-family: SF med;
}
.overvireTxt {
  /* font-family: SF light;
  font-size: 0.9em; */
  text-transform: capitalize;
  /* margin-top: 0.35em; */
}
.location {
  color: #1e4274;
}
.location:hover {
  color: #cd8930;
}
.location:active {
  color: #cd8930;
}
.location:link {
  color: #1e4274;
}
.location:visited {
  color: #cd8930;
}

.websiteLink {
  color: #cd8930;
  font-family: SF light;
}
.websiteLink:hover {
  color: #cd8930;
  font-family: SF light;
}
.websiteLink:active {
  color: #cd8930;
  font-family: SF light;
}
.websiteLink:link {
  color: #cd8930;
  font-family: SF light;
}
.company {
  font-family: SF med;
  font-size: 1em;
}
.dep {
  font-family: SF reg;
  font-size: 0.9em;
  margin-top: -1em;
}
@media screen and (max-width: 600px) {
  .departments {
    display: flex;
    flex-direction: column !important;
  }
}
@media screen and (min-width: 1440px) {
  .discCol {
    margin-left: -10em !important;
  }
}
@media (min-width: 400px) and (max-width: 575px) {
  .company {
    width: 6.3em;
  }
}
@media (max-width: 399px) {
  .company {
    width: 5.4em;
  }
}
.opportunity {
  font-family: SF bold;
  font-size: 1.5em;
}
.paid {
  font-family: SF reg;
  font-size: 1em;
  color: #cd8930;
}
.tag {
  margin-bottom: 1em;
  align-content: center;
  justify-content: center;
  background-color: rgb(230, 227, 227);
  padding-right: 0.5em;
  padding-bottom: 0.05em;
  padding-left: 0.5em;
  border-radius: 20px;
  text-decoration: none;
  font-size: 0.6em;
  color: #1e4274;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
ul .reuirLi {
  list-style-type: disc !important;
  list-style: inside !important;
}

.tagsP {
  padding: 0.2em 1em;
}
/* carousel */
.carouselCaption {
  bottom: 0;
  margin-bottom: 4rem;
}
.txtCarousel {
  color: #1e4274 !important;
  font-family: SF reg;
  font-size: 1em;
}
.hrReviews {
  background-color: #cd8930;
  border: 0.7px solid #cd8930;
  width: 6em;
}
.txtName {
  color: #1e4274 !important;
  font-family: SF reg;
  font-size: 0.9em;
  padding-top: 0.5em;
  margin-bottom: -0.01em;
}
.txtRole {
  color: #1e4274 !important;
  font-family: SF light;
  font-size: 0.8em;
}
#carouselExampleIndicators {
  position: unset;
}
.carousel-indicators button {
  background-color: #1e4274 !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 100% !important;
}
.carousel-indicators button.active {
  background-color: #cd8930 !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 100% !important;
}
.reviewsBtnIndicators {
  margin-bottom: -1em;
  /* margin-top: -5em; */
}
.starsReview {
  margin-top: -1em;
}
#carouselExampleControls {
  padding-bottom: 5em;
}
.prevBtnReviews {
  margin-left: -3em !important;
}
.nextBtnReviews {
  margin-left: 6em !important;
  padding-left: 4em !important;
}
#iconss {
  color: #cd8930 !important;
  fill: #cd8930 !important;
  text-decoration: none !important;
}
@media screen and (max-width: 500px) {
  .nextBtnReviews {
    right: -2em !important;
  }
  .prevBtnReviews {
    left: -2em !important;
  }
}
.reviewbox {
  border: none;
  background-color: #f2f2f2;
  height: 8em;
  width: 100%;
  box-shadow: none;
}

.reviewstars {
  box-shadow: none;
  border: none;
}
.adsImg {
  /* height: 8em !important; */
  object-fit: cover !important;
}
