@font-face {
  font-family: SF reg;

  src: url("../Components/assests/Fonts/SF-Compact-Display-Regular.otf");
}
@font-face {
  font-family: SF bold;
  src: url("../Components/assests/Fonts/SF-Compact-Display-Bold.otf");
}
@font-face {
  font-family: SF light;
  src: url("../Components/assests/Fonts/SF-Compact-Display-Light.otf");
}
@font-face {
  font-family: SF med;
  src: url("../Components/assests/Fonts/SF-Compact-Display-Medium.otf");
}

* {
  /* color: #1e4274; */
  font-family: sf reg;
}
#containerrrr {
  margin-top: 5em !important;
}
#profilepp {
  border-radius: 100px;
  width: 7em;
  height: 7em;
}
.bluebtn {
  color: #1e4274 !important;
  border: 1px solid #1e4274 !important;
  width: 9.375em;
}
.goldbtn {
  color: #cd8930 !important;
  border: 1px solid #cd8930 !important;
  width: 19.5em;
  margin-top: 0.5em;
}
@media screen and (max-width: 1399px) {
  .goldbtn {
    width: 7em !important;
    margin-top: 0em !important;
    margin-top: 0em !important;
  }
  .bluebtn {
    width: 7em !important;
  }
  #topbtns {
    display: flex !important;
    flex-flow: row !important;

    /* justify-content: center !important; */
  }
}
@media screen and (max-width: 991px) {
  .orangetitle2 {
    margin-top: 1.5em;
  }
  #gpa {
    margin-left: 0 !important;
  }
}
@media screen and (max-width: 347px) {
  #topbtns {
    display: flex !important;
    flex-flow: column !important;
  }
  .goldbtn {
    justify-self: center !important;
    justify-content: center !important;
    margin-top: 1em !important;
  }
}
#blueribbon {
  padding: 2em;
  background-color: #1e4274;
  margin-top: 4em;
  color: #fff;
}
#orangetitle {
  font-family: SF bold;
  color: #cd8930;
  margin-bottom: 0.5em;
}
.info {
  color: #fff !important;
  margin-top: 0.3em;
  font-family: SF light;
}
.icon {
  font-size: 1.4em;
}

.plus {
  align-content: center;
  justify-content: center;
  background-color: rgb(230, 227, 227);
  padding-right: 0.5em;
  padding-bottom: 0.03em;
  padding-left: 0.5em;
  border-radius: 3px;
  text-decoration: none;
  color: #1e4274;
}

#lightfont {
  font-family: SF light !important;
}
#goldcredentials {
  color: #cd8930;
  text-decoration: none !important;
}

#hiddenhover {
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.1s ease;
  border-radius: 10px;
}

#education:hover #hiddenhover {
  height: 100%;
}
#education:hover .titlecard {
  color: #cd8930;
}
#education:hover {
  border-top: solid 3px #1e4274;
}
