.bg-image {
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: url(../Components/assests/imgs/login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 45%;
  height: 93%;
  right: 0;
  top: 75px;
  /* margin-top: -2px; */
  border-radius: 5px;
}
a {
  text-decoration: none;
}
.bg-image-no-img {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 35%;
  /* height: 85%; */
  right: 0;
  top: 75px;
  border-radius: 5px;
}
.wrong {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background: url("https://api.iconify.design/ion-md-warning.svg?color=red") no-repeat
    center center / contain;
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.signTitle {
  font-size: 30px;
  color: #1e4274;
}
.signSubTitle {
  font-size: 25px;
  color: #1e4274;
}
.genderLabel {
  font-size: 14px;
  position: relative;
  color: #1e4274;
}
.form-check-label {
  color: #1e4274 !important;
  margin-bottom: 50px;
}
.label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #1e4274 !important;
  transition: 0.2s all;
  cursor: text;
}

.label-before,
.field input:focus + label::before,
.field input:valid + label::before {
  line-height: 15px;
  font-size: 12px;
  top: -20px;
  left: 0;

  background: #fff;
  padding: 0 6px;
}
.field {
  position: relative;
  margin-bottom: 20px;
  margin-top: 10px;
  display: inline-block;
}
.field label::before {
  content: attr(title);
  position: absolute;
  top: -10px;
  left: 15px;
  line-height: 30px;
  font-size: 18px;
  color: #777;
  transition: 300ms all;
}
.field input:valid + label::before {
  content: attr(data-title);
}



/* Basma */
input {
  border: 0 !important;
  outline: 0 !important;
  background: transparent;
  border-radius: 0 !important;
  border-bottom: 1px solid #1e4274 !important;
}
input:focus {
  border: 0 !important;
  outline: 0 !important;
  background: transparent;
  border-bottom: 2px solid #cd8930 !important;
}
input {
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 4px solid #1e4274;
  box-shadow: none;
  color: #1e4274;
  margin-bottom: 50px;
}
input:focus,
input:valid {
  border-color: #cd8930;
}
input:focus ~ label,
input:valid ~ label {
  font-size: 14px;
  top: -24px;
  color: #cd8930;
}
*/ .depError {
  color: #f44336;
  font-size: 14px;
}
.error {
  color: #f44336;
  font-size: 14px;
  margin-top: -10%;
  margin-bottom: 10%;
}

.raioLabel {
  margin-left: 10px;
}
input[type="radio"] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 15%;
  outline: none;
  padding-right: 5px;
  border-bottom: none !important;
  /* border: 3px solid red; */
  /* background: green; */
}

input[type="radio"]:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  padding-right: 5px;
  border-radius: 15%;
  border: 2px solid #1e4274;
}

input[type="radio"]:checked:before {
  background: #cd8930;
  /* background-image: url(../Components/assests/imgs/login.jpg); */
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 3px solid #cd8930;
}

.account {
  margin-top: 40px;
  margin-bottom: 0px;
  color: #cd8930;
  text-decoration: none;
}
.terms {
  color: #cd8930;
}
.agree {
  color: #1e4274 !important;
}
.account:hover {
  color: #cd8930;
}
.submitBtn {
  color: #1e4274;
  float: right;
  border-color: #1e4274;
  /* box-shadow: none;
  outline: 0; */
}
.submitBtn:hover {
  background-color: #1e4274;
  color: #fff;
  border: none;
  /* box-shadow: none;
  outline: 0; */
}
.submitBtn:active {
  background-color: #445772;
  border: none;
  /* box-shadow: none;
  outline: 0; */
}
.dropDown {
  margin-bottom: 10px;

  border-color: #1e4274;
  color: #1e4274;
  box-shadow: none;
  /* outline-color: #fae49a !important; */
}
option {
  color: #1e4274;
  border: none !important;
  border-bottom: solid 1px #cd8930 !important;
  border-radius: 0 !important;
}
select {
  box-shadow: none !important;
  border: none !important;
  border-bottom: solid 1px #1e4274 !important;
  border-radius: 0 !important;
}
select:focus {
  box-shadow: none !important;
  border: none !important;
  border-bottom: solid 2px #cd8930 !important;
  border-radius: 0 !important;
}
select option:checked {
  background: #1e4274 -webkit-linear-gradient(bottom, #cd8930 0%, #cd8930 100%);
  color: #fff;
}

/* select option:active {
  background: #cd3030 -webkit-linear-gradient(bottom, #cd8930 0%, #cd8930 100%) !important;
  color: rgb(81, 201, 87) !important;
} */
@media (max-width: 768px) {
  .bg-image {
    display: none;
  }
}
